<html>
<head>
	<title>ATENEO DE NAGA UNIVERSITY STUDENT ORGANIZATIONS PORTAL - ADNUSOP</title>
</head>

<body>
	<div id="header">
	<img src="/images/adnu.png" alt="rss feed" />
	<h1>Ateneo de Naga University Student Organizations</h1>

	<ul>
	<li><a href="/home">HOME</a></li>
	<li><a href="/organizations">LIST OF ORGANIZATIONS</a></li>
	<li><a href="/about">ABOUT THE DEVELOPER</a></li>
	</ul>
	</div>

	<br><br />

	<h1 align="center" id="hmm">List of Organizations</h1>

	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Classification</th>
	      <th>Org identification</th>
	      <th>Username</th>
	      <th>Password</th>
	      <th colspan="5"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @organizations.each do |organization| %>
	      <tr>
		<td id="q"><%= organization.name %></td>
		<td id="q"><%= organization.classification %></td>
		<td id="q"><%= organization.org_identification %></td>
		<td id="q"><%= organization.username %></td>
		<td id="q"><%= organization.password %></td>
		<td id="q"><%= link_to 'Show', organization %></td>
		<td id="q"><%= link_to 'Edit', edit_organization_path(organization) %></td>
		<td id="q"><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>
	
	<form action="/organizations/new">
    		<input type="submit" value="CREATE NEW ORGANIZATION" />
	</form>

	<div class="footer">
	Web Development Class of 2017</br>
	Developed by: Peralta, Alajor, Alanis</br>
	COPYRIGHT 2017
	</div>

</body>
</html>

<%= stylesheet_link_tag "main.css" %>
